<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDJHBvjLedHuXy36rEK8rBV2SdDHUjZc6M</string>
	<key>GCM_SENDER_ID</key>
	<string>149731756482</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.queingDisplay</string>
	<key>PROJECT_ID</key>
	<string>tinitz-display-9fc48</string>
	<key>STORAGE_BUCKET</key>
	<string>tinitz-display-9fc48.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:149731756482:ios:6e524332cb7a030317ae5b</string>
</dict>
</plist>